@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirNextCyr-Thin.woff") format("woff");
  }

  @font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 750;
    src: url("../fonts/AvenirNextCyr-Bold.woff") format("woff");
  }  
